<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/comments/<%= comment.id %>/edit">

    </form>
    <textarea name="comment" cols="30" rows="10"></textarea>
</body>
</html>