<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>Make a new comment</h2>
    <form action="/comments" method="post">
        <section>
            <input type="text" placeholder="username" name="username">
        </section>
        <section>
            <textarea name="comment" placeholder="comment text" cols="30" rows="5"></textarea>
        </section>
        <button>Submit</button>
    </form>
    <a href="/comments">back to index</a>
</body>
</html>